<app-nav></app-nav>

<div class="painel">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
    <div class="card-footer"></div>
  </div>
</div>


<app-footer></app-footer>
